<div>
    <app-banner
        url="https://wrogn.com/cdn/shop/files/EOSS-WEBSITE-BANNER_0697e9b2-315b-4958-a509-7bc19652fea7.jpg?v=1717351996"></app-banner>

    <div class="section">
        <div class="section-header">
            <p class="section-name">New Arrivals</p>
            <p class="section-message">
                Discover the latest trends and freshest styles in our exclusive "New Arrivals" section! Here, you'll
                find
                the most recent additions to our collection, carefully curated to keep your wardrobe updated and
                stylish.
                Whether you're looking for chic everyday essentials, standout pieces for special occasions, or the
                latest
                must-have accessories, we have something for everyone.
            </p>
        </div>
        <div class="cloth-container">
            <div *ngFor="let cloth of cloths">
                <div class="single-cloth" (click)="navigateToProduct(cloth.clothId)">
                    <img class="product-image" src={{cloth.image}} alt="">
                    <div class="product-footer">
                        <p>{{trimNameLength(cloth.name)}}</p>
                        <p>{{cloth.clothPrice |currency:'INR'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <app-banner
        url="https://cms.landmarkshops.in/cdn-cgi/image/w=1232,q=85,fit=cover/LS-Fest/LS-new/desktop-women-modularblock1-A-04Apr2024.jpg"></app-banner>

    <app-store-locator></app-store-locator>
</div>