.section {
    margin: 50px 0;
}

.section-header {
    margin: 50px 0;
    padding: 0 50px;
}

.section-name {
    font-size: 40px;
    width: fit-content;
    margin: 10px auto;
    font-style: italic;
}

.section-message {
    font-size: 14px;
    font-style: italic;
    margin: 10px auto;
}

.cloth-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 10px 10px;
}

.single-cloth {
    width: 300px;
    height: 500px;
}

.product-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.product-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}