.similar {
    margin: 10px auto;
    padding: 10px 20px;
}

.cloth-conatiner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding: 5px 20px;
    margin: auto;
}

.singleCloth {
    width: 10%;
    height: 200px;
}

.singleCloth img {
    height: 100%;
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 0 20px;
    background-color: rgb(248, 248, 248);
}

.header p {
    font-size: 30px;
    margin-left: 10px;
}

.black-box {
    height: 100px;
    width: 20px;
    background-color: black;
}