<div *ngIf="cloth" class="single-cloth">
    <div class="image-section">
        <div class="image">
            <img src="{{cloth.image1}}" alt="">
        </div>
        <div class="image">
            <img src="{{cloth.image2}}" alt="">
        </div>
        <div class="image">
            <img src="{{cloth.image3}}" alt="">
        </div>
        <div class="image">
            <img src="{{cloth.image4}}" alt="">
        </div>
        <div class="image">
            <img src="{{cloth.image5}}" alt="">
        </div>
        <div class="image">
            <img src="{{cloth.image6}}" alt="">
        </div>
    </div>
    <div class="body-section">
        <p class="productName">{{cloth.productName}}</p>
        <p>Maroon & Gold-Toned Ethnic Motifs Printed Gotta Patti Pleated Kurti</p>
        <div class="reviews">
            <div class="review-card">
                <p class="rating">{{cloth.rating}}</p>
                <img src="../../../assets/star.svg" alt="">
            </div>
            <p class="reviewsCount">{{cloth.reviewsCount}} Ratings</p>
        </div>
        <p>{{cloth.price | currency:"INR"}}</p>
        <div class="size-section">
            <p>Avaiable Sizes</p>
            <div class="sizes-conatiner">
                <div class="size-box" *ngFor="let clothingSize of clothingSizes">
                    <img class="size-cross" src="../../../assets/diagonal.svg" alt=""
                        *ngIf="!containsSizeOrNot(clothingSize,cloth.sizes)">
                    <p>{{clothingSize}}</p>
                </div>
            </div>

            <div class="colors">
                <p>Avaiable in Colors</p>
                <div class="colors-conatiner">
                    <div class="color-box" *ngFor="let color of createSizeArray(cloth.colors)"
                        [style.background-color]="color"></div>
                </div>
            </div>
            <p>{{cloth.careInstructions}}</p>
        </div>
    </div>
</div>

<ng-container *ngIf="cloth">
    <app-similar-products [occasion]="cloth.occasion"></app-similar-products>
</ng-container>