<div class="locator">
    <div class="header">
        <div class="black-block"></div>
        <p>STORE LOCATOR</p>
    </div>
    <div class="locator-body">
        <div class="store-img">
            <img src="https://cdn.shopify.com/s/files/1/0818/0305/1309/files/WEBSITE-STORE-LOCATION.jpg?v=1701440991&width=1500"
                alt="store">
        </div>
        <div class="store-right">
            <p class="p-1">WROGN STORE. RIGHT PLACE.</p>
            <p class="p-2">FIND HOW CLOSE YOU ARE TO GOING WROGN!</p>
            <div class="store-locator-btn">
                <img src="../../../assets/locator.svg" alt="locator">
                <p>VIEW ALL STORES</p>
            </div>
        </div>
    </div>
</div>