.blog {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  .blog-card {
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    position: relative;

    &:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .btn-container{
      display: flex;
      justify-content: center;
      align-items: center;
      .page-Num{
        display: inline;
        font-size: 18px;
        font-weight: 500;
        margin: 0 10px;
      }
    }

    .blog-section {
      display: flex;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
      position: relative;

      &__content {
        flex: 1;
        padding: 1rem;

        h2 {
          margin-bottom: 0.5rem;
        }

        p {
          line-height: 1.5;
        }

        .blog-section__footer {
          display: flex;
          align-items: end;
          justify-content: space-between;
          margin-top: 1rem;
          height: 10vh;
div{
display: flex;
.p-component{
  margin: 0px;
}
.p-button.p-button-secondary{
  color:gray;
  // background-color: #c3c3c7;
}
.p-button-icon{
  font-size: 23px;
}
.like{
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #e24747;
}
}
          .view-more {
            background-color: #bbbdc0;
            color: #fff;
            border: none;
            border-radius: 4px;
            padding: 0.5rem 1rem;
            cursor: pointer;
            font-size: 1rem;
            display: flex;
            align-items: center;
            margin-right: 0.5rem;
          }

          .heart-button {
            display: flex;
            align-items: center;
            img{
              height: 30px;
              width: 30px;
            }
          }
          .bookmark-button {
            background-color: #f3aa4b;
            color: #fff;
            border: none;
            border-radius: 50%;
            padding: 0.5rem;
            cursor: pointer;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }

      &__image {
        flex: 1;
        position: relative;

        .background-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          opacity: 0.5;
          z-index: 1;
        }

        img {
          position: relative;
          z-index: 2;
          object-fit: contain;
          width: auto;
          height: auto;
          border-radius: 8px;
          max-height: 500px;
        }
      }

      &--reverse {
        flex-direction: row-reverse;
      }
    }
  }
}
h3{
  display: flex;
    margin: 20px 40px 0;
    color: #53536c;
}
.red{
  columns: red;
}
.deleteDialog{
  // padding: 10px;
  .p-component{
    margin: 0px;
  }
}
.skeleton{
  height: 30vh !important;
}