@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@400&display=swap');

.my-blog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;

  &__image {
    width: 100%;
    height: auto; // Ensure the image maintains its aspect ratio
    margin-bottom: 1.5rem;

    img {
      width: 100%;
      height: auto;
      object-fit: cover; // Ensure the image covers the container without distortion
    }
  }

  &__content {
    text-align: justify; // Justify the text to align both left and right edges
    text-justify: inter-word; // Improve justification of text

    &__title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    &__description {
      font-family: 'Faustina', serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 1.6;
      margin-bottom: 1rem;
      /* Optional: Add padding for better readability */
      padding: 0 1rem; // Adjust as needed
    }
  }
  


.p-dialog .p-dialog-header {
    display: none;
    border-bottom: 0 none;
    background: #ffffff;
    color: rgba(0, 0, 0, 0.87);
    padding: 0.2rem;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}


.p-component, .p-component * {
    box-sizing: border-box;
    margin: 3px;
    // padding: 2px 2px 2px 2px;
}

}
.comments-section {
  max-width: 600px;
  margin: 0 auto;
}

.comment {
  display: flex;
  margin-bottom: 10px;
}

.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  flex: 1;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: start;
  .p-component {
    // &.p-button{
    //   margin: 0px;
    // }
    // width: auto;
 
}
.cmntText{
  margin: 0.5rem 0 0.5rem 3rem;
}
}

.pagination {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  .p-icon-field {
    width: 100%;
    min-width: 500px;
  }
}


.comment-form input {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;

}
.comment-form{
.p-component{
  width: 100%;
}
}

.comment-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}
