.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('https://cdn.pixabay.com/photo/2018/01/14/23/12/nature-3082832_960_720.jpg'); // Replace with your background image path
    background-size: cover;
    background-position: center;
    padding: 20px;
  }
  
  .signup-form {
    background: rgba(255, 255, 255, 0.9); // White background with slight transparency
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; // Adjusted for better layout
    width: 100%;
    margin: 0 auto; // Center the form horizontally
    
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    form {
      display: grid;
      grid-template-columns: repeat(2, 1fr); // Two columns for the form
      gap: 20px; // Spacing between fields
  
      .form-row {
        display: flex;
        flex-wrap: wrap; // Allows wrapping to next line if needed
        
        label {
          flex: 1 1 100%; // Full width for labels
          margin-bottom: 15px;
          
          input[type="text"],
          input[type="email"],
          input[type="password"],
          input[type="date"],
          select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ddd;
            border-radius: 4px;
          }
  
          input[type="checkbox"] {
            margin-right: 5px;
          }
        }
      }
  
      button {
        grid-column: span 2; // Make the button span across both columns
        padding: 10px;
        border: none;
        width: 100%;
        border-radius: 4px;
        background-color: #575d63;
        color: white;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: #0056b3;
        }
      }
    }
} 

  