.header {
  width: 100%;
  height: 40%;
  padding: 10px;
  box-shadow: 0 0 20px black;
  background-color: rgb(255, 251, 251);
  display: flex;
  align-items: center;
  justify-content: space-between;
  .name {
    display: inline-flex;
    align-items: center;
    height: 60px;
    padding: 20px;
  
    .logo__image {
      width: 30px; // Adjust the width as needed
      height: auto;
      margin-right: 10px; // Space between the logo and the text
    }
  
    h3 {
      margin: 0;
      display: flex;
      align-items: center;
      
      a {
        text-decoration: none;
        color: #333; // Adjust the color as needed
      }
    }
  }  

  .filter{
    height: auto;
  }
  .profileSec {
    display: flex;
    justify-content: space-between;
    button{
      margin: 5px 5px;
    }
    .profile {
      margin-left: 30px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 1px solid black;
      overflow: hidden;
      img {
        height: 40px;
        width: 40px;
      }
      .profileOverlay{
        display: flex;
        flex-direction: column;
        .p-overlaypanel .p-overlaypanel-content {
          padding: 0 !important;
          .nav{
            padding: 5px;
            border-bottom:1px solid grey;
          }
        }
        
      }
    }
  }
}
.home{
  padding: 50px 100px;
}